
* {
   box-sizing: border-box;
}
body, section, header, div, p, h1, h2, h3, ul, li {
   margin: 0;
   padding: 0;
   
}
body {
   font-family: 'Open Sans', sans-serif;
   box-sizing: border-box;
   background-color: #e4e7eb;
   font-weight: 300;
   font-size: 18px;
   padding: 40px;
}
header {
   margin-left: 20px;
}
h1 { 
   text-align: center;
   font-weight: 600;
   font-size: 42px;
   padding: 10px 0;
}

/* add styles here */
h2{
  font-size: 24px;
}
h3{
  font-size: 24px;
  font-weight: 600;
  padding: 10px 0;
}
span{
  font-weight: 600;
  font-size:24px;
}
section{
   text-align: center;
   width:910px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.column {
   display: inline-block;
   width: 300px;
   background-color: #ffffff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 .featured {
   background-color: #2f4f4f;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   color:white;
 }
.price{
  font-weight: 800;
  font-size:36px;
}.price span{
  font-weight: 300;
  font-size:18px;
}
.free{
background-color: #5BB189 ;
 }
.standard{
  background-color: #4B0082 ;

}
.professional{
  background-color: #EC632A ;

}
 ul {
   list-style-type: none;
 }

 li:nth-child(even) {
   background-color: rgba(47,59,64,0.35);
 }
 a {
   text-decoration: none;
   display:block;
   margin: 10px;
   padding: 10px 0;
   background-color: #3A6BA5 ;
   color: #ffffff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 

 
 a:hover {
   background-color: #f7f7f7;
   color: #333;
 }
 #confidence{
   margin-top:10px;
   text-align: left;
   background-color: #2f4f4f;
   padding-left: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
   width:910px;
   color:white;
   li::before {
      content: "\2714\0020";
      padding-right: 10px;
      color: green;
      font-weight: bold;
      font-size: larger;
   }
   li {
      padding-left: 0px !important;
   }
 }
 #confidence li {
   background-image: url('C:/Users/kisho/Downloads/4-2/project2/checkmark.svg');
   background-size: 24px;
   padding-left: 40px;
   margin-bottom: 10px;
   margin-top: 10px;
   font-size: 18px;
   background-repeat: no-repeat;
   background-color: #2f4f4f;
 
 }
 #confidence a{
   margin-top:10px;
   text-align: left;
   background-color: #2f4f4f;
   padding-left: 10px;
   font-style: italic;
   display: contents;
   color: #00698f;
 }
 #confidence li:last-child {
   margin-bottom: 0;
 }